
#welcome{
    font-weight: 900;
    font-size: 30px;
    color:rgb(7, 40, 150);
    text-align: center;
    margin-top:5px;
    padding: 15px;
    box-shadow: 2px 10px 20px gray;
    border-radius: 10px;
    background-image: linear-gradient(45deg,rgba(33, 197, 115, 0.815),greenyellow, rgba(33, 197, 115, 0.815));
}

h2{
    color:seagreen;
}
.highlight{
    color:rgb(7, 40, 150);
    font-weight:800;
    font-size:25px;
}
.top-highlight{
    color:rgb(8, 85, 85);
    font-size:35px;
}
p{
    text-align: justify;
    font-size:20px;
}
.button{
    color:white;
    padding:10px 20px;
    background-image:linear-gradient(45deg, tomato, rgb(252, 141, 15), tomato);
    text-decoration: none;
    font-weight: 700;
}
.half-width{
    width:40%;
    padding:2%;
    margin:2%;
    float:left;
}
.half-width img{
    width:100%;
    height:400px;
}
body{
    background-image: url(images/b-g3.jpg);
    width:99%;
}
section{
    padding-bottom: 300px;
}